<form class="form-publish" ng-submit="publishJob(job);">
  <div class="col-md-6">
      <div class="form-group">
        <label>Job Position</label>
        <input ng-model="job.position" type="text" class="form-control" placeholder="Job Position">
      </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
        <label>Company</label>
        <input ng-model="job.company" type="text" class="form-control" placeholder="Company">
      </div>
  </div>
  <div class="col-md-12">
      <div class="form-group">
        <label>Description</label>
        <textarea ng-model="job.description" class="form-control" rows="3" placeholder="Description"></textarea>
      </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
        <label>Category</label>
        <select ng-model="job.category" class="form-control">
          <option value="web-developer">Web developer</option>
          <option value="software-engineering">Software engineering</option>
          <option value="android-developer">Android developer</option>
          <option value="ios-developer">IOS Developer</option>
          <option value="content-management-specialist">Content management specialist</option>
        </select>
      </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
        <label>Location</label>
        <select ng-model="job.location" class="form-control">
          <option value="cr">Costa Rica</option>
          <option value="mx">Mexico</option>
          <option value="es">Spain</option>
          <option value="us">United States</option>
        </select>
      </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
        <label>Salary</label>
        <input ng-model="job.salary" type="text" class="form-control" placeholder="Salary">
      </div>
  </div>

  <div class="col-md-12">
    <button type="submit" class="btn btn-primary">Publish</button>
  </div>
</form>